@import "../../utils/mixin.scss";
@import "../../utils/variables.scss";

#about-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 10px;
    
}

@media (max-width: $wmax) {
    .accordion-container-2 {
        padding-left: 4%;
        padding-right: 4%;

        .accordion-item {
            margin-top: 2rem;
        }
    }
    .about-banner-container {
        padding-left: 4%;
        padding-right: 4%;

        .banner-container-2 {
            margin-top: auto;
            padding-left: 4%;
            padding-right: 4%;
        }
    }

}