@import "../../utils/variables.scss";
@import "../../utils/mixin.scss";

.accordion-container {
    .accordion-item {
        border: 0;
        margin: 10px 0;
        border-radius: 5px;
        overflow: hidden;
    }

    .accordion-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: $primary-color;
        color: $tertiary-color;
        cursor: pointer;

        h1 {
            margin: 0;
            font-size: 24px;
        }

        .accordion-toggle {
            background: none;
            border: none;
            font-size: 1.5em;
            cursor: pointer;
            transition: transform 0.4s ease-in-out;
            .chevron {
                transition: transform 0.4s ease-in-out;
            }
            &.expanded .chevron {
                transform: rotate(180deg); /* Rotação quando expandido */
            }
        }
    }

    .accordion-content {
        padding: 10px 20px;
        background: #f7f7f7;
        border-radius: 5px;
        max-height: 0px; /* Inicialmente colapsado */
        overflow: hidden;
        transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out, visibility 0.4s ease-in-out;
        display: none;
		opacity: 0;
    }

    .accordion-item.expanded .accordion-content {
        max-height: 500px; /* Defina um valor suficientemente alto para acomodar o conteúdo expandido */
    	display: block; /* Torna o conteúdo visível quando expandido */
		opacity: 1;
    }
}

.accordion-container-2 {
	width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    .accordion-item {
        border: 0;
        margin: 25px 0;
        border-radius: 5px;
        overflow: hidden;
    }

    .accordion-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: $primary-color;
        color: $tertiary-color;
        cursor: pointer;

        h1 {
            margin: 0;
            font-size: 1.2em;
        }

        .accordion-toggle {
            background: none;
            border: none;
            font-size: 1.5em;
            cursor: pointer;
            transition: transform 0.4s ease-in-out;
            .chevron {
                transition: transform 0.4s ease-in-out;
            }
            &.expanded .chevron {
                transform: rotate(180deg); /* Rotação quando expandido */
            }
        }
    }

    .accordion-content {
        padding: 10px 20px;
        background: #f7f7f7;
        border-radius: 5px;
        max-height: 0px; /* Inicialmente colapsado */
        overflow: hidden;
        transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out, visibility 0.4s ease-in-out;
        display: none;
		opacity: 0;
    }

    .accordion-item.expanded .accordion-content {
        max-height: 500px; /* Defina um valor suficientemente alto para acomodar o conteúdo expandido */
    	display: block; /* Torna o conteúdo visível quando expandido */
		opacity: 1;
    }
}

li {
	list-style: none;
}

ul {
	padding: 0px
}

p {
	line-height: 24px;
}

